root=true

[*]
max_line_length=100
indent_size=2
indent_style=space

[{*.sh,*.bash}]
indent_size=4
insert_final_newline=true
case_indent=true
binary_next_line=true
space_redirects=false
switch_case_indent=true
trim_trailing_whitespace=true

[*.json]
max_line_length=0

[troff]
max_line_length=72

[{*.scd,*.{0..9},*.{0-9}p}]
max_line_length=72

[{*.c,*.h,*.cpp,*.hpp}]
indent_size=4
indent_style=tab

[{Makefile,*.mak,*.mk}]
indent_size=4
indent_style=tab
