[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=import

[Desktop Action import]
Name=Import to music library...
Name[en]=Import to music library...
Name[tok]=kulupu kalama o moku...
Icon=media-import-audio-cd
Exec=beets-import-to-library %F
